<!DOCTYPE html>
<html ng-app="myTrips">
<head>
	<title>Trips</title>
	<link rel="stylesheet" type="text/css" href="../css/trips.css">
</head>
<body>

	<div class="nonCollapsedTripDetails" ng-controller="tripsController">
	
		<div class="title">
			<ul>
				<li><p>REVIEW YOUR UPCOMING TRAVEL</p></li>
				<li><a href="">View Details</a></li>
			</ul>
		</div>

		<div class="previousTripActiveImg" ng-show="isPreviousTripAvailable" ng-click="previousTrip()"></div>
		<div class="previousTripInActiveImg"  ng-hide="isPreviousTripAvailable"></div>
		
		<div class="tripDateDiv">
			<p class="header"  ng-bind="label"></p>
			<p class="dayText" ng-bind ="currentTrip.startDate  | date:'EEE' | uppercase"></p>
			<p class="footer"  ng-bind="currentTrip.startDate  | date:'MM/dd/yyyy'"></p>
		</div>
		
		<div class="airTripDetails" ng-show="showAirDetails">
			
			<div class="tripDateDiv departure">
				<p class="header">DEPARTUR</p>
				<p class="dayText" ng-bind="currentTrip.startAirPortCode"></p>
				<p class="footer"  ng-bind="currentTrip.startDate | date:'hh:mma'"></p>
			</div>

			<div class="tripSeparatorArrowImg"></div>

			<div class="tripDateDiv arrival">
				<p class="header">ARRIVAL</p>
				<p class="dayText" ng-bind="currentTrip.endAirPortCode"></p>
				<p class="footer" ng-bind="currentTrip.endDate | date:'hh:mma'"></p>
			</div>

		</div>

		<div class="hotelTripDetails" ng-show="showHotelDetails">
			
			<p class="headerDetails" ng-bind="currentTrip.hotelName"></p>
			<p class="middleContent" show-address></p>
			<p class="footerDetails" show-room-details></p>

		</div>

		<div class="carTripDetails" ng-show="showCarDetails">
			
			<p class="headerDetails" ng-bind="currentTrip.pickUpAirPort"></p>
			<p class="middleContent" show-car-pick-up-location></p>
			<p class="footerDetails" show-passenger-details></p>

		</div>

		<div class="cruiseTripDetails" ng-show="showCruiseDetails">
			<p class="headerDetails" ng-bind="currentTrip.cruiseLineName"></p>
			<p class="middleContent" ng-bind="currentTrip.cruiseDestination | uppercase"></p>
			<p class="footerDetails" ng-bind="currentTrip.cabinType"></p>
		</div>

		<div class="nextTripActiveImg" ng-show="isNextTripAvailable" ng-click="nextTrip()"></div>
		<div class="nextTripInActiveImg" ng-hide="isNextTripAvailable"></div>

	</div>



	<div class="collapsedTripDetails" ng-controller="tripsController">
	
	
		<div class="previousTripActiveImg" ng-show="isPreviousTripAvailable" ng-click="previousTrip()"></div>
		<div class="previousTripInActiveImg"  ng-hide="isPreviousTripAvailable"></div>
		
		<div class="tripDetails">
				<div class="title"> 
					<span>REVIEW YOUR UPCOMMING TRIPS</span>
					<span class="rightAlign"><a href="">view details</a><span>
				</div>
				<div class="tripDateDiv">
					<p class="header"  ng-bind="label"></p>
					<p class="footer"> {{currentTrip.startDate  | date:'EEE' | uppercase}} {{currentTrip.startDate  | date:'MM/dd/yyyy'}}</p>
				</div>
				<div class="airTripDetails" ng-show="showAirDetails">
					<div class="departs">
						<span class="header">DEPARTS</span>
						<span class="midContent" ng-bind="currentTrip.startAirPortCode"></span>
						<span class="footer" ng-bind="currentTrip.startDate | date:'hh:mma'"></span>
					</div>
					<div class="arrives">
						<span class="header">ARRIVES</span>
						<span class="midContent" ng-bind="currentTrip.endAirPortCode"></span>
						<span class="footer" ng-bind="currentTrip.endDate | date:'hh:mma'"></span>
					</div>


				</div>

				<div class="hotelTripDetails" ng-show="showHotelDetails">
					
					<p class="headerDetails" ng-bind="currentTrip.hotelName"></p>
					<p class="middleContent" show-collapsed-address></p>

				</div>

				<div class="carTripDetails" ng-show="showCarDetails">
					
					<p class="headerDetails" ng-bind="currentTrip.pickUpAirPort"></p>
					<p class="middleContent" show-car-pick-up-location></p>

				</div>

				<div class="cruiseTripDetails" ng-show="showCruiseDetails">
					<p class="headerDetails" ng-bind="currentTrip.cruiseLineName"></p>
					<p class="middleContent" ng-bind="currentTrip.cruiseDestination | uppercase"></p>
				</div>

		</div>
	

		<div class="nextTripActiveImg" ng-show="isNextTripAvailable" ng-click="nextTrip()"></div>
		<div class="nextTripInActiveImg" ng-hide="isNextTripAvailable"></div>

	</div>



	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="../js/trips.js"></script>
</body>
</html>