@media (min-width: 768px) {
	#searchWidget {
		position: fixed;
	}
	#bigPitcure {
		float: right;
		
	}}

#searchWidget {
	z-index: 1001;
	top:70px;
}
#bigPitcure {
	border-width: 1px;
	border-style: dotted;
	position: relative;
	top:70px;
	background-color: lightyellow;
	height: 1000px;
}
#headerDiv{
	z-index: 1000;
	position: fixed;
	background-color: green;
}

#footerDiv {
	border-width: 1px;
	border-style: dotted;
	position: relative;
	top: 73px;
	background-color: white;
	clear: both;
}
#iNavFooter{
	border-width: 1px;
	border-style: dotted;
	position: relative;
	background-color: yellow;
	clear: both;
}
#emailSignUpDiv {
	position: absolute;
	top:800px;
	background-color: purple;
}

.signUpMessage > h2, .signUpMessage > p {
	color: white;
}
.signUpMessage {
	margin-left: 30px;
}
.socialGrpBtn{
	margin-top: 50px;
	position: relative;
}
.hide {
	display: none;
}
#loginDiv {
	width: 30%;
	background-color: lightblue;
}
.loginStick{
	display: block;
	position: fixed;
    top:70px;
    right: 0px;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}



.nav-tabs { 
	margin: 0px;
	
}
.tab-content{

}
.nav-tabs > li > a {
	line-height: 25px !important;
	margin-right: 0px !important;
	border:0px solid #D5D5D5 !important;
	border-right-width :1px !important;
	border-radius: 0px 0px 0 0 !important;

}
.nav-tabs > li > a:link {
	
}
.nav-tabs > li > a:hover {
	text-decoration: underline;
	-moz-text-decoration-color: #009BBB; /* Code for Firefox */
    text-decoration-color: #009BBB;
}





