
#searchWidget {
	z-index: 1001;
	top:70px;
}
#bigPitcure {
	border-width: 1px;
	border-style: dotted;
	position: relative;
	top:70px;
	background-color: lightyellow;
	height: 1000px;
}
#headerDiv{
	z-index: 1000;
	position: fixed;
	background-color: green;
}

#footerDiv {
	border-width: 1px;
	border-style: dotted;
	position: relative;
	top: 73px;
	background-color: white;
	clear: both;
}
#iNavFooter{
	border-width: 1px;
	border-style: dotted;
	position: relative;
	background-color: yellow;
	clear: both;
}
#emailSignUpDiv {
	height: 100%;
	background-color: purple;
	padding-top: 6.0606060608%;
	height: 100%;
}



.SuigglyBackground {
	background: url("https://travel.americanexpress.com/ctnwt/assets/travelhome/images/small-repeat-x-ribbon.png") repeat-x left bottom #eee;
	padding-bottom: 39px;

}
.signUpMessage > h2  {
	color: white;
	font-family: arial;
	
}
.signUpMessage > p {
	color: white;
	font-family: arial;
	font-size: 15px;
}
#privacy_policy{
	color: white;
	text-decoration: underline;
}
.signUpMessage {
	margin-left: 30px;
	padding-bottom: 50px;
}
#success_sign_up {
	color : white;
	margin-top:40px;
	
}
#emailSignUpBtn {
	background-color: teal;
}
#socialMediaDiv a.btn.btn-default.btn-lg {
 color: blue;	
}
#socialMediaDiv .btn-group-lg>.btn, .btn-lg{
	font-size: 14px;
	height: 44px;
	border-radius: 6px;
	width:200px;
}
#socialMediaDiv {
	margin-top:7%;
}
.signUpMessage .input-group .form-control{
	 height:45px;
	 border-radius:0px;
	 font-size: 12px;
}
.signUpMessage .btn{
	 height:45px;
	 border-radius:0px;
	 height:45px;
	 width:100px;
}

.signUpMessage .btn-default {
	
	background : teal;
	text-shadow:none;
	color:white;

}

.hide {
	display: none;
}
#loginDiv {
	width: 30%;
	background-color: lightblue;
}
.loginStick{
	display: block;
	position: fixed;
    top:70px;
    right: 0px;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}



.nav-tabs { 
	margin: 0px;
	
}

.nav-tabs > li > a {
	line-height: 25px !important;
	margin-right: 0px !important;
	border:0px solid #D5D5D5 !important;
	border-right-width :1px !important;
	border-radius: 0px 0px 0 0 !important;

}
.nav-tabs > li > a:link {
	
}
.nav-tabs > li > a:hover {
	text-decoration: underline;
	-moz-text-decoration-color: #009BBB; /* Code for Firefox */
    text-decoration-color: #009BBB;
}
 
 /* CTT Home page styles */
 
#iNavNGI_FooterMain.iNNewFoot p {
	margin:auto !important;
}

.welcomeUser {
	color: white;
	width: 100%;
	font: 22px BentonSans-Md, Arial, Helvetica, sans-serif medium;
}

.teaser,.showDiv {
	background: none;
	box-shadow: none;
}

.loginComp {
	top: 2.6%;
	left: 10.9%;
	margin-left: 0px !important;
}

body {
	background-color: white;
}

p {
	font-family: "Arial";
	font-size: 20px;
}

.bigPitchStyle {
	left: 30%;
	color: white;
	margin-right: 30px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 40%;
}

.trips {
	position: absolute;
	top: 30%;
	left: 20%;
}

.loginWrapper {
	position: absolute;
	top: 5%;
	left: 20%;
}

.logInButton {
	position: relative;
	left: 20%;
	top: 5px;
	width: 50%;
}

.headerStyle {
	margin-bottom: 10px;
	margin-right: 30px;
	text-align: center;
	color: white;
}

.bigPitchHeader {
	left: 40%;
	color: white margin-right:   30px;
	position: absolute;
	top: 40%;
}

.widewrapper {
	position: relative;
}

.quotation_div {
	display: table;
	height: 700px;
	position: relative;
	width: 100%;
}

.overlay {
	display: table-cell;
	height: 100%;
	position: relative;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}

.bigPitchImg {
	max-height: 100%;
	position: absolute;
	width: 100%;
}

#benefitInfoDiv {
	text-align: center;
	width: 100%;
}

#benefitInfo {
	text-align: center;
	width: 100%;
}

.CardImage {
	height: 155px;
	margin-right: 30px;
	vertical-align: top;
	width: 155px;
}

.paraStyle {
	display: inline-block;
	margin-right: 30px;
	margin-left: 30px;
}

.travelOffersStyle {
	background:
		url('file:///C:/Users/spulimi/Desktop/HomePage/bigpitch.PNG')
		no-repeat center center;
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
	border: medium solid;
	height: 100%;
}

.travelRewards {
	margin-right: 30px;
	margin-top: 50px;
}


/* ctt footer styles */

.cttFooterContent {
	width:75%;
	margin:auto;
}
.RemMeSpace {
	margin-top: 7px;
}
.pwpText, .lrgText {
	font-size: 75% !important;
	text-align: left;
	color: rgb(51, 51, 51);
	margin-top: 23px;
	font-family: Arial, Verdana, Helvetica, san-serif !important;
}



/* enable absolute positioning */
#emailAddressDiv .inner-addon { 
    position: relative; 
}

/* style icon */
#emailAddressDiv .inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
#emailAddressDiv .left-addon .glyphicon  { left:  0px;}
#emailAddressDiv .right-addon .glyphicon { right: 0px;}



