@media (min-width: 768px) {
	#searchWidget {
		position: fixed;
	}
	#bigPitcure {
		float: right;
		
	}
}
.custom-inner-addon{
	position: relative;
}
.email-envolope {
	background: white url('../img/AMEX_TLS_Homepage_Sprite.png') no-repeat -67px -25px;
	position: absolute;
	top:10px;
	left:10px;
	width: 14px;
}
.email-address{
	position: absolute;
	left: 21px;
	border-left: 0px;
}


#emailAddress {
	background: white url('../img/AMEX_TLS_Homepage_Sprite.png') no-repeat -67px -25px;
	padding-left: 18px;
	background-position-y: -11px;
	height: 44px;
	width: 14px;
}

.search{
	background-color: yellow;	
	border: 1px solid gray;
}
.search-row2 {
	background-color: green;
}
.bigPitcure-row-1-col-1 {
	z-index: 1001;
	height: 100%;
	background-color: white;

}
.bigPitcure-row-1-col-2 {
	height: 100%;
	background-color: lightgreen;

}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }