.nonCollapsedTripDetails {
	background-color: white;
	border: 1px dotted;
	float: left;
}
.nonCollapsedTripDetails ul li {
	display: inline-block;
	list-style: none;
}
.nonCollapsedTripDetails ul {
	padding-left: 0px !important;
  	margin-left: 20px;
  	margin-top: 0px;
  	margin-bottom: 0px;
}
.nonCollapsedTripDetails ul li p {
	font-family: BENTONSANSEXTRACOMP;
	font-size: 21px;
	color: #4D4F53;
	margin-top: 0px;
  	margin-bottom: 0px;
}
.nonCollapsedTripDetails .tripDateDiv {
	background-color: #F3F3F3;
	margin-left: 3px;
	margin-top: 15px;
	float: left;
	width: 120px;
	height: 103px;
}
.nonCollapsedTripDetails .tripDateDiv p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: ARIAL;
	font-size: 12px;
	color: #8A8AAD;
}

.nonCollapsedTripDetails .airTripDetails {
	background-color: #F3F3F3;
	float: left;
  	margin-left: 20px;
 	margin-top: 15px;
	margin-bottom: 0px;
	height: 103px;
}
.nonCollapsedTripDetails .hotelTripDetails,
.nonCollapsedTripDetails .carTripDetails,
.nonCollapsedTripDetails .cruiseTripDetails {
	background-color: #F3F3F3;
	float: left;
  	margin-left: 20px;
 	margin-top: 15px;
	margin-bottom: 0px;
	height: 103px;
	width: 260px;
}
.tripDateDiv .header { 
	padding-top: 15px;
}
.tripDateDiv .footer{
	padding-bottom: 15px;
}
.tripDateDiv .dayText {
  font-size: 39px !important;
  font-family: BENTONSANSEXTRACOMP !important;
  color: #4D4F53 !important
}

.headerDetails {
	font-family: ARIAL;
	font-weight: bold;
	font-size: 12px;
	color: #6F6F6F;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 15px;
}
.middleContent {
	font-family: ARIAL;
	font-size: 12px;
	color: #6F6F6F;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.footerDetails{
  font-family: ARIAL;
  font-size: 12px;
  font-weight: bold;
  color: #6F6F6F;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.departure, .arrival{
  	margin-top: 0px !important;
  	margin-left: 0px !important;
}
.tripSeparatorArrowImg {
  background: url('../img/homepage-sprite.png') no-repeat -259px -289px;
  width: 20px;
  height: 10px;
  float: left;
  margin-top: 45px;
}
.nextTripActiveImg {
	float: left;
	background: url('../img/homepage-sprite.png') no-repeat -652px -384px;
	width: 7px;
	height: 11px;  
	margin-top: 60px;
  	margin-left: 3px;
}
.nextTripInActiveImg {
	float: left;
	background: url('../img/homepage-sprite.png') no-repeat -629px -384px;
	width: 7px;
	height: 11px;  
	margin-top: 60px;
  	margin-left: 3px;
}
.previousTripActiveImg {
	float: left;
	background: url('../img/homepage-sprite.png') no-repeat -575px -384px;
	width: 7px;
	height: 11px;
	margin-top: 60px;
  	margin-left: 10px;
}
.previousTripInActiveImg {
	float: left;
	background: url('../img/homepage-sprite.png') no-repeat -601px -384px;
	width: 7px;
	height: 11px;
	margin-top: 60px;
  	margin-left: 10px;
}



