.nonCollapsedTripDetails {
	background-color: white;
}
.nonCollapsedTripDetails ul li {
	display: inline-block;
	list-style: none;
}
.nonCollapsedTripDetails ul {
	padding-left: 0px !important;
  	margin-left: 20px;
  	margin-top: 0px;
  	margin-bottom: 0px;
}
.nonCollapsedTripDetails ul li p {
	font-family: BENTONSANSEXTRACOMP;
	font-size: 21px;
	color: #4D4F53;
	margin-top: 0px;
  	margin-bottom: 0px;
}

.nonCollapsedTripDetails .tripDateDiv {
	background-color: #F3F3F3;
	margin-left: 3px;
	margin-top: 15px;
	float: left;
	width: 120px;
	height: 103px;
}
.nonCollapsedTripDetails .tripDateDiv p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: ARIAL;
	font-size: 12px;
	color: #8A8AAD;
}

.nonCollapsedTripDetails .airTripDetails {
	background-color: #F3F3F3;
	float: left;
  	margin-left: 20px;
 	margin-top: 15px;
	margin-bottom: 0px;
	height: 103px;
}
.nonCollapsedTripDetails .hotelTripDetails,
.nonCollapsedTripDetails .carTripDetails,
.nonCollapsedTripDetails .cruiseTripDetails {
	background-color: #F3F3F3;
	float: left;
  	margin-left: 20px;
 	margin-top: 15px;
	margin-bottom: 0px;
	height: 103px;
	width: 260px;
}
.tripDateDiv .header { 
	padding-top: 15px;
}
.tripDateDiv .footer{
	padding-bottom: 15px;
}
.tripDateDiv .dayText {
  font-size: 39px !important;
  font-family: BENTONSANSEXTRACOMP !important;
  color: #4D4F53 !important
}

.headerDetails {
	font-family: ARIAL;
	font-weight: bold;
	font-size: 12px;
	color: #6F6F6F;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 15px;
}

.middleContent {
	font-family: ARIAL;
	font-size: 12px;
	color: #6F6F6F;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;

}

.collapsedMiddleContent {
	font-family: ARIAL;
	font-size: 12px;
	color: #6F6F6F;
	margin-top: 0px;
	margin-bottom: 0px;
	  padding-top: 5px;
}
.collapsedHeaderDetails {
	font-family: ARIAL;
	font-weight: bold;
	font-size: 12px;
	color: #6F6F6F;
	margin-bottom: 0px;
	margin-top: 15px;
}

.footerDetails{
  font-family: ARIAL;
  font-size: 12px;
  font-weight: bold;
  color: #6F6F6F;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.departure, .arrival{
  	margin-top: 0px !important;
  	margin-left: 0px !important;
}
.tripSeparatorArrowImg {
  background: url('../img/homepage-sprite.png') no-repeat -259px -289px;
  width: 20px;
  height: 10px;
  float: left;
  margin-top: 45px;
}
.nextTripActiveImg {
	float: left;
	background: url('../img/homepage-sprite.png') no-repeat -652px -384px;
	width: 7px;
	height: 11px;  
	margin-top: 60px;
  	margin-left: 3px;
}
.nextTripInActiveImg {
	float: left;
	background: url('../img/homepage-sprite.png') no-repeat -629px -384px;
	width: 7px;
	height: 11px;  
	margin-top: 60px;
  	margin-left: 3px;
}
.previousTripActiveImg {
	float: left;
	background: url('../img/homepage-sprite.png') no-repeat -575px -384px;
	width: 7px;
	height: 11px;
	margin-top: 60px;
  	margin-left: 10px;
}
.previousTripInActiveImg {
	float: left;
	background: url('../img/homepage-sprite.png') no-repeat -601px -384px;
	width: 7px;
	height: 11px;
	margin-top: 60px;
  	margin-left: 10px;
}




.collapsedTripDetails {
	height: 103px;
}
.collapsedTripDetails .tripDetails {
	float: left;
	background-color: #F3F3F3;
	margin-left: 3px;
	margin-top: 15px;
	float: left;
	width: 390px;
	height: 103px;
}
.collapsedTripDetails .tripDetails .title {
	  margin-top: 15px;
  margin-left: 20px;
}
.collapsedTripDetails .tripDetails .tripDateDiv {
  margin-left: 20px;
  float: left;
  margin-right: 20px;
  width: 102px;

}
.collapsedTripDetails .tripDetails .tripDateDiv .header{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 3px;
  font-family: Arial;
  font-weight: normal;
  font-size: 12px;
  color: #6F6F6F;
}
}
.collapsedTripDetails .tripDetails .tripDateDiv .footerDay
{
  margin-top: 0px;
  font-family: arial;
  font-weight: bold;
  color: #4D4F53;
  font-size: 12px;
}
.collapsedTripDetails .tripDetails .tripDateDiv .footerDate
{
  margin-top: 0px;
  font-family: arial;
  font-weight: normal;
  color: #6F6F6F;
  font-size: 12px;
}
.rightAlign {
  float: right;
  margin-right: 20px;
}

.collapsedTripDetails .airTripDetails ,
.collapsedTripDetails .hotelTripDetails,
.collapsedTripDetails .carTripDetails,
.collapsedTripDetails .cruiseTripDetails {
  margin-left: 20px;
  float: left;
}

.airTripDetails .departs .midContent{
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}
.airTripDetails .arrives .midContent{
	margin-left: 10px;
  margin-right: 3px;
  font-weight: bold;

}
.hotelTripDetails .middleContent,
.carTripDetails .middleContent,
cruiseTripDetails .middleContent {
	  padding-top: 5px;
}
.airTripDetails .departs {
	margin-top: 15px;
  font-size: 12px;
  font-family: arial;
  font-weight: normal;
  color: #6F6F6F;
}
.airTripDetails .arrives {
  margin-top: 5px;
  font-size: 12px;
  font-family: arial;
  font-weight: normal;
    color: #6F6F6F;
}
.verticalLine {
  border-left: 1px solid #D5D5D5;
  float: left;
  height: 35px;
  margin-top: 15px;
}

#hotelCreditDiv {
	background-color:  #F3F3F3;
	width: 400px;
	height: 146px;
}

.tagImg {
	background: url('../img/homepage-sprite.png') no-repeat -434px -336px;
	width: 14px;
	height: 14px;
}
.hotelCreditContent {

}
